<ul>
    {{!--this probably doesnt work  some one better at handlebars should probably look at this--}}
    <button class="upvote" data-id="{{id}}">+1</button> <a href="{{link}}">{{headline}}</a> <p>submitted by:{{username}}</p> <a href="comments/{{id}}">comments</a>
</ul>